/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
.fa-solid {
    color: var(--main-color);
}
body {
    display: flex;
    justify-content: center;
    margin: 0;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 25px;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.logo {
    max-height: 20px;
    margin: 30px 0;
}
.header-nav {
    padding-top: 20px;
}
.header-nav a {
    margin: 20px;
    padding-top: 18px;
}
.header-nav a:hover {
    border-top: 3px solid var(--main-color);
    color: var(--main-color);
}
main {
    padding: 0 25px;
}
.hero {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hero::before, .hero::after {
    content:""; /* Applies flex gap like a vertical margin */
}
.hero h1 {
    margin: 0;
}
.hero p {
    display: inline;
}
.search {
    display: flex;
    overflow: hidden;
    max-width: 387px;
    min-height: 52px;
    border-radius: 15px;
    background-color: var(--main-bg-color);
}
.search i {
    color: black;
    padding: 20px 20px;
}
.search input {
    border: none;
    flex-grow: 1;
    font-weight: bold;
    font-size: 17px;
}
.search input[type=text] {
    margin: 1px;
    width: 190px;
    text-align: center;
}
.search input[type=submit] {
    width: 130px;
    background-color: var(--main-color);
    color: white;
}
.filters, .filters div {
    display: flex;
    gap: 15px;
}
.filters, .filters *, .hebergements > p{
    font-weight: bold;
    font-size: 16px;
}
.filters button {
    border: solid 2px var(--main-bg-color);
    border-radius: 25px;
    background-color: white;
    padding: 10px 15px;
}
.filters button:hover {
    background-color: var(--filter-bg-color)
}
.filters button i {
    margin-right: 8px;
}
.information i {
    padding: 6px 11px;
    border: solid 2px var(--main-bg-color);
    border-radius: 100%;
    margin-right: 10px;
}
.section-title {
    margin: 0;
    font-size: 22px;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card img {
    object-fit: cover;
}
.card-title {
    font-size: 16px;
}
.euro {
    font-weight: 700;
}
.neutral-star {
    color: var(--main-bg-color)
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
/****** Hebergements ***********/
.hebergements-cards, .hebergements {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.hebergements {
    width: 65%;
    flex-direction: column;
}
.hebergements-cards .card {
    max-width: 250px;
    max-height: 210px;
    overflow: hidden;
}
.hebergements-cards img {
    width: 240px;
    max-height: 120px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hebergements .card-content {
    padding: 10px;
}
.hebergements .card-content h3, .hebergements .card-content p {
    margin: 0;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}
.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.populaires-cards .card-subtitle {
    margin: 0;
}
.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/* Activités */
.activities {
    margin: 60px 0;
}
.activities > div{
    display: flex;
    justify-content: space-evenly;
}
.activities article {
    background-color: white;
    border-radius: 20px;
    max-width: 300px;
    width: 21vw;
    overflow: hidden;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.activities article h3 {
    padding-left: 15px;
}
.activities article img {
    max-height: 380px;
    max-width: 300px;
    height: 26vw;
    width: 21vw;
    object-fit: cover;
}
/* Footer */
footer {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--main-bg-color);
    margin: 0 25px;
}
footer div {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
footer div::before, footer div::after {
    content:""; /* Applies flex gap like a vertical margin */
}
footer p {
    margin: 0;
    font-weight: bold;
}
/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
/* @media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }
    .hebergements {
        width: 100%;
    }
    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .populaires-cards .card {
        width: 30%;
    }
    .populaires-cards .card-title {
        font-size: 14px;
    }
    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
} */
@media (max-width: 1024px) {
    header, .hebergements-and-populaires, .filters {
        flex-direction: column;
    }
    .logo {
        align-self:center;
    }
    .header-nav, .header-nav a {
        padding: 0;
        font-size: 16pt;
    }
    .header-nav {
        padding: 0 25px;
        margin: 0 -25px;
        border-bottom: 3px solid var(--main-bg-color);
        display: flex;
    }
    .header-nav a {
        flex-basis: 50%;
        text-align: center;
        margin: 0;
    }
    .header-nav a:hover {
        border-top: none;
        border-bottom: 3px solid var(--main-color);
        margin-bottom: -3px;
        padding-right: 25px;
        margin-right: -25px;
        padding-left: 25px;
        margin-left: -25px;
    }
    .hebergements-and-populaires {
        gap: 50px;
    }
    .hebergements {
        width: 100%;
    }
    .populaires {
        width: 100%;
    }
    .populaires-cards {
        display: flex;
        gap: 25px;
        justify-content: center;
    }
    .populaires-cards .card {
        width: 270px;
    }
    .filters {
        flex-direction: column;
    }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }
}