/* General */
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
* {
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
.fa-solid {
    color: var(--main-color);
}
body {
    display: flex;
    justify-content: center;
    margin: 0;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 25px;
    box-sizing: border-box;
}
main {
    padding: 0 25px;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
}
.logo {
    max-height: 20px;
    margin: 30px 0;
}
.header-nav {
    padding-top: 20px;
}
.header-nav a {
    margin: 20px;
}
.header-nav a:hover {
    padding-top: 18px;
    border-top: 3px solid var(--main-color);
    color: var(--main-color);
}
.hero {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hero::before, .hero::after {
    content:""; /* Applies flex gap like a vertical margin */
}
.hero h1 {
    margin: 0 0 5pt;
}
.hero p {
    display: inline;
}
/* Search */
.search {
    display: flex;
    overflow: hidden;
    max-width: 387px;
    min-height: 52px;
    border-radius: 15px;
    background-color: var(--main-bg-color);
}
.search i {
    padding: 20px 20px;
}
.search i:nth-child(1) {
    color: black;
}
.search input, .search button {
    border: none;
    flex-grow: 1;
    font-weight: bold;
    font-size: 17px;
}
.search input {
    margin: 1px;
    width: 190px;
    padding-left: 25px;
}
.search button {
    background-color: var(--main-color);
}
.search button span {
    min-width: 130px;
    color: white;
}
.search button i {
    display: none;
    background-color: var(--main-color);
    color: white;
}
/* Filters */
.filters, .filters div {
    display: flex;
    gap: 15px;
}
.filters, .filters *, .hebergements > p{
    font-weight: bold;
    font-size: 16px;
}
.filters button {
    border: solid 2px var(--main-bg-color);
    border-radius: 25px;
    background-color: white;
    padding: 10px 15px;
}
.filters button:hover {
    background-color: var(--filter-bg-color)
}
.filters button i {
    margin-right: 8px;
}
.information i {
    padding: 6px 11px;
    border: solid 2px var(--main-bg-color);
    border-radius: 100%;
    margin-right: 10px;
}
/* Sections */
.section-title {
    margin: 0;
    font-size: 22px;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card img {
    object-fit: cover;
}
.card-title {
    font-size: 16px;
}
.euro {
    font-weight: 700;
}
.neutral-star {
    color: var(--main-bg-color)
}
/* Hebergements And Populaires */
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
/* Hebergements */
.hebergements-cards, .hebergements {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
}
.hebergements {
    width: 65%;
    flex-direction: column;
}
.hebergements-cards .card {
    /* margin-top: 15px; */
    max-width: 250px;
    max-height: 210px;
    overflow: hidden;
}
.hebergements-cards img {
    width: 240px;
    max-height: 120px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hebergements .card-content {
    padding: 10px;
}
.hebergements .card-content h3, .hebergements .card-content p {
    margin: 0;
}
/* Populaires */
.populaires {
    width: 32%;
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}
.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.populaires-cards .card-subtitle {
    margin: 0;
}
.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/* Activités */
.activities {
    margin: 60px 0;
}
.activities > div{
    display: flex;
    justify-content: space-between;
}
.activities a {
    background-color: white;
    border-radius: 20px;
    max-width: 300px;
    width: 21vw;
    overflow: hidden;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.activities a h3 {
    padding-left: 15px;
}
.activities a img {
    max-height: 380px;
    max-width: 300px;
    height: 26vw;
    width: 21vw;
    object-fit: cover;
}
/* Footer */
footer {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--main-bg-color);
    margin: 0 25px;
}
footer div {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
footer div::before, footer div::after {
    content:""; /* Applies flex gap like a vertical margin */
}
footer p {
    margin: 0;
    font-weight: bold;
}
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires, .filters {
        flex-direction: column;
    }
    .hebergements-and-populaires {
        gap: 50px;
    }
    .hebergements, .populaires {
        width: unset;
    }
    .populaires-cards {
        display: flex;
        gap: 25px;
        justify-content: center;
    }
    .populaires-cards .card {
        max-width: 270px;
    }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    main {
        padding: unset;
    }
    /* Header */
    header {
        flex-direction: column;
    }
    .logo {
        align-self: center;
    }
    .header-nav, .header-nav a {
        padding: 0;
    }
    .header-nav {
        padding: 0 25px;
        margin: 0 -25px;
        border-bottom: 3px solid var(--main-bg-color);
        display: flex;
    }
    .header-nav a {
        font-size: 13pt;
        flex-basis: 50%;
        text-align: center;
        margin: 0;
        padding-bottom: 15px;
    }
    .header-nav a:hover {
        padding-top: 0;
        border-top: none;
        border-bottom: 3px solid var(--main-color);
        margin-bottom: -3px;
    }
    .header-nav a:nth-child(1) {
        padding-left: 25px;
        margin-left: -25px;
    }
    .header-nav a:nth-child(2) {
        padding-right: 25px;
        margin-right: -25px;
    }
    /* Search */
    .search {
        position: relative;
        max-width: unset;
        width: 100%;
    }
    .search input {
        /* width: 64vw; */
    }
    .search button {
        all: unset;
    }
    .search button span{
        display: none;
    }
    .search button i {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    /* Filters */
    .filters div {
        flex-wrap: wrap;
        justify-content: center;
    }
    .filters > p {
        flex-wrap: wrap;
        margin: 0;
    }
    .filters button {
        min-width: 42vw;
    }
    .information {
        display: flex;
        align-items: center;
    }
    /* Hebergements And Populaires */
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: unset;
    }
    .hebergements-and-populaires section {
        border-radius: unset;
        padding: 30px 50px;
        margin: 0 -50px;
    }
    .hebergements-and-populaires .hebergements {
        background-color: white;
    }
    .hebergements-and-populaires section div:not(.populaires-title) {
        flex-direction: column;
    }
    .hebergements-and-populaires section div:not(.populaires-title)::before {
        content:""; /* Applies flex gap like a vertical margin */
    }
    .populaires .card {
        margin-top: unset;
        max-width: unset;
        flex-grow: 1;
    }
    .hebergements-cards {
        gap: 15px;
    }
    .hebergements-cards .card {
        max-width: unset;
    }
    .hebergements-cards img {
        width: 100%;
    }
    /* Activities */
    .activities div {
        flex-direction: column;
        gap: 15px;
    }
    .activities a {
        width: unset;
        max-width: unset;
        flex-grow: 1;
    }
    .activities a img {
        width: 100%;
        max-width: unset;
        height: 140px;
    }
    footer {
        flex-direction: column;
        padding: 30px 80px;
        margin: 0 -50px;
    }
}